<!DOCTYPE html>
{% load static %}
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>BeePy</title>
        <style>
            * {
                background: #333333;
                color: white;
            }
        </style>
        <script>
            window.beepy = {
                config: {
                    requirements: () => window.location.href.includes('plot') ? ['numpy', 'matplotlib'] : [],
                },
            }
        </script>
        <script
            bee-module='{% static "templates" %}'
            {% if IS_DEV %}
                src='../BEEPY/web/dist/beepy.js'
            {% else %}
                src='https://unpkg.com/@kor0p/beepy/dist/beepy.js'
            {% endif %}
        ></script>
    </head>
    <body>
        <div id='root'></div>
    </body>
</html>
