<!DOCTYPE html>
{% load static %}
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>PyWeb</title>
        <style>
            * {
                background: #333333;
                color: white;
            }
        </style>
        <script>
            window.pyweb = {
                config: {
                    debug: {{ DEBUG|lower }},
                    requirements: () => window.location.href.includes('plot') ? ['numpy', 'matplotlib'] : [],
                },
            }
        </script>
        <script src='https://pyweb.netlify.app/pyweb.js'></script>
        <script>
            pyweb.__main__ = async () => {
                await enterPythonModule('{% static "templates" %}')
            }
        </script>
    </head>
    <body>
        <div id='root'></div>
    </body>
</html>
