<!DOCTYPE html>
{% load static %}
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>BeePy</title>
        <style>
            * {
                background: #333333;
                color: white;
            }
        </style>
        <script>
            window.beepy = {
                config: {
                    debug: {{ DEBUG|lower }},
                    requirements: () => window.location.href.includes('plot') ? ['numpy', 'matplotlib'] : [],
                },
            }
        </script>
        {% if IS_DEV %}
            <script src='../BEEPY/beepy.js?v=latest'></script>
        {% else %}
            <script src='https://kor0p.github.io/BeePy/beepy.js?v=latest'></script>
        {% endif %}
        <script>
            beepy.__main__ = async () => {
                await enterPythonModule('{% static "templates" %}')
            }
        </script>
    </head>
    <body>
        <div id='root'></div>
    </body>
</html>
