<!DOCTYPE html>
{% load static %}
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>BeePy</title>
        <style>
            html {
                background: #333333;
                color: white;
                zoom: 7;
            }
        </style>
        {% if IS_DEV %}
            <script src='../BEEPY/dist/web/beepy.js?v=dev'></script>
        {% else %}
            <script src='https://cdn.jsdelivr.net/npm/@kor0p/beepy/dist/beepy.js'></script>
        {% endif %}
        <script>
            beepy.__main__ = async () => {
                await enterPythonModule('{% static "templates/custom_url" %}')
            }
        </script>
    </head>
    <body>
        <div id='root'></div>
    </body>
</html>
