@charset "UTF-8";
body {
    background: #1F2226;
    color: white;
    font-family: "Open Sans", sans-serif;
    padding: 50px 80px 150px 90px;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1;
    margin: 0;
}

h1 + nav {
    margin-top: 10px;
}

.text-link {
    color: #00a3ff;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgba(0, 163, 255, 0.3);
}

nav {
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.header-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.header-menu .header-menu__item + .header-menu__item {
    margin-left: 5px;
}
.header-menu .header-menu__item + .header-menu__item::before {
    content: '·        ';
}

header + main {
    margin-top: 30px;
}

.tex-input {
    background: #303841;
    min-height: 40vh;
    border-radius: 10px;
    padding: 30px 30px 35px 30px;
}

p {
    margin: 0;
    padding: 0;
}

.tex-input__hint {
    color: #cccccc;
}

.tex-input__hint + .tex-input__hint {
    margin-top: 10px;
}

.tex-input__insert-example-button {
    display: inline-block;
    background: none;
    border: 1px solid;
    border-radius: 7px;
    padding: 3px 5px 5px 5px;
    margin-top: 7px;
    margin-left: -3px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

.tex-input__insert-example-button:hover {
    cursor: pointer;
    color: red;
    border-color: red;
}

.text-link:hover {
    cursor: pointer;
    color: red;
    text-decoration-color: rgba(255, 0, 0, 0.3);
}

main + footer {
    margin-top: 30px;
}

footer {
    max-width: 35ch;
    margin-bottom: 100px;
}

.small {
    font-size: 0.83rem;
}

p + p {
    margin-top: 10px;
}
