<!DOCTYPE html>
{% load static %}
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>BeePy</title>
        <style>
            html {
                background: #333333;
                color: white;
            }
        </style>
        {% if IS_DEV %}
            <script src='../BEEPY/beepy.js'></script>
        {% else %}
            <script src='https://kor0p.github.io/BeePy/beepy.js'></script>
        {% endif %}
        <script>
            beepy.__main__ = async () => {
                await enterPythonModule('{% static "templates/multiple_apps" %}')
            }
        </script>
    </head>
    <body>
        <div id='root'></div>
    </body>
</html>
