<!DOCTYPE html>
{% load static %}
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <title>BeePy</title>
        <style>
            html {
                background: #333333;
                color: white;
            }
        </style>
        <script
            bee-module='{% static "templates/multiple_apps" %}'
            {% if IS_DEV %}
                src='/BEEPY/web/dist/beepy.js'
            {% else %}
                src='https://unpkg.com/@kor0p/beepy/dist/beepy.js'
            {% endif %}
        ></script>
    </head>
    <body>
        <div id='root'></div>
    </body>
</html>
